@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

header {
  width: 100%;
  background-color: #101010;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 1;
}

/*Config navbar*/
.navbarMaterial {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 10px;
  text-align: center;
}

.logo img{
  height: 80px;
  object-fit: cover;
}

.hambuguer {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  position: relative;
  display: none;
  z-index: 999;
}
.hambuguer:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 45%;
  width: 40%;
  height: 10%;
  border-radius: 20px;
  background-color: #fff;
  transition: 1s ease;
}
.hambuguer:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  height: 10%;
  border-radius: 20px;
  background-color: #fff;
  transition: 1s ease;
}

input {
  display: none;
}

#hambuguer:checked ~ label .hambuguer:after {
  transform: rotate(225deg);
  top: 45%;
  left: 15%;
}

#hambuguer:checked ~ label .hambuguer:before {
  transform: rotate(-405deg);
  width: 70%;
  height: 10%;
  top: 45%;
  left: 15%;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.menu li {
  margin-left: 10px;
}
.menu li a {
  font-size: 20px;
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: #555;
  font-family: "Prompt";
  transition: 0.5s ease;
}
.menu li a:hover {
  color: #00ff7d;
}
.menu li a.active {
  color: #fff;
  background-color: #00ff7d;
  border-radius: 10px;
}

/*Space do mesmo tamanho no navbar*/
.nada {
  height: 120px;
  width: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.space {
  position: relative;
  height: 100%;
}

.waves {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  color: #00791a;
  opacity: 0.8;
}

.wave1 {
  -webkit-animation: onda1 7s ease-in-out alternate infinite;
          animation: onda1 7s ease-in-out alternate infinite;
}

@-webkit-keyframes onda1 {
  from {
    transform: translateX(400px);
    z-index: -1;
  }
}

@keyframes onda1 {
  from {
    transform: translateX(400px);
    z-index: -1;
  }
}
.wave2 {
  -webkit-animation: onda2 7s ease-in-out infinite alternate;
          animation: onda2 7s ease-in-out infinite alternate;
  z-index: -1;
}

@-webkit-keyframes onda2 {
  from {
    transform: translateX(-350px);
  }
}

@keyframes onda2 {
  from {
    transform: translateX(-350px);
  }
}
.wave3 {
  -webkit-animation: onda3 9s ease-in-out infinite alternate;
          animation: onda3 9s ease-in-out infinite alternate;
}

@-webkit-keyframes onda3 {
  from {
    transform: translateX(-300px);
  }
}

@keyframes onda3 {
  from {
    transform: translateX(-300px);
  }
}
/*Responsividade */
@media screen and (max-width: 980px) {
  .logo img {
    height: 70px;
  }

  .hambuguer {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    margin-top: 0;
    background-color: #222;
    width: 100%;
    max-width: 250px;
    padding: 100px 20px;
    flex-direction: column;
    transition: 1s ease;
  }

  .menu.active {
    right: 0;
  }
  .menu.active .menu {
    display: block;
  }
}
.selectMaterial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

a.btn {
  background-color: #00ff7d;
  transition: 0.8s ease-in-out;
}
a.btn:hover {
  background-color: #1a1a1a;
}

input.btn {
  background-color: #00ff7d;
  color: #fff;
}

#close{
  font-size: 20px;
  background-color: white;
  color: black;
  width: 80px;
}

.video {
  width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 
.btnMenuVideo{
  padding: 5px;
  color: blue;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline;
}

.btnDrop{
}

.btnMaterial{
}

.btnMenuVideo:hover{
  background-color: rgb(225, 225, 225);
  color: blue;
}

.btnDrop i{
  transition: .25s;
}

/*POWER POINT*/
#checkPlalist:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*WORD*/
#checkPlalist2:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist2:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*CANVA*/
#checkPlalist3:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist3:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*KineMaster*/
#checkPlalist4:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist4:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*Google Apresentações*/
#checkPlalist5:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist5:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*Google Docs*/
#checkPlalist6:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist6:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*NOTION*/
#checkPlalist7:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist7:checked ~ .playlist{
  display: block;
  height: 100%;
}

/*Google Keep*/
#checkPlalist8:checked ~ .btnDrop i{
  transform: rotate(180deg);
}

#checkPlalist8:checked ~ .playlist{
  display: block;
  height: 100%;
}

.playlist {
  width: 100%;
  background-color: rgba(0, 0, 255, 0.583);
  border-radius: 8px;
  margin-top: 20px;
  display: none;
  transition: 5s;
}

.item{
  height: 80px;
  border-bottom: 2px solid white;
  width: 95%;
  transition: .25s;
  cursor: pointer;
}

.item:hover {
  width: 100%;
}

.item:hover img{
  margin-left: 7px;
  transition: .35s;
}

.item span{
  line-height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=styleMaterial.css.map */ 