@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import '_variables';
@import 'functionStyle';

@include StartPag();

.selectMaterial{
    @include flexCenter();
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}
a.btn{
    background-color: $verdeLogo;
    transition: .8s ease-in-out;

    &:hover{
        background-color: $black1;
    }
}
input.btn{
    background-color: $verdeLogo;
    color: $white;
}
.video{
    width: 100%;
    height: 516px;
   
        #runningVideo{
            border-radius: 10px;
            width: 100%;
            height: 100%;
        
    }
}
.playlist   {
    width: 100%;
    height: 516px;
    background-color: blue;
}


